// yarn add --dev eslint prettier eslint-config-airbnb eslint-config-prettier eslint-plugin-prettier eslint-plugin-react eslint-plugin-import eslint-plugin-jsx-a11y

{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": 0,
    "indent": 0,
    "react/jsx-indent": 0,
    "react/jsx-tag-spacing": 0,
    "function-paren-newline": 0,
    "comma-dangle": 0,
    "jsx-quotes": 0,
    "object-curly-spacing":0 ,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-max-props-per-line": 0
  }
}